{% extends "base.j2" %}
{% block title %}Home-{{ user.name }}{% endblock %}

{% block content %}
<h2>Hi {{ user.name }}</h2>
<br/>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Solve the exercise</h3>
      <form class="form" action="." method="POST">
        <div class="form-group">
          <span class="ex col-lg-2">{{ question }} </span>
          <div class="ans">
            <label for="answer">Your answer:</label>
            <input
              type ="text"
              class="form-control"
              id="answer"
              name="answer"
              placeholder="Solution"
            />
          </div>
        </div>
      
        <br/>
        <div>
          <button type="submit" class="btn btn-primary">Check</button>
        </div>
      </form>
    </div>
    <div class="col score">
      <h3>Your score is: {{ score }}</h3>
      <br/>
      <p>WELL DONE!</p>
      <div class="accordion-flush" id="accordionEx">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Exercises you successfully solved
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionEx">
            <div class="accordion-body">
              <ul>
                {% for ex in solved %}
                <li>{{ ex }}</li>
                {% endfor %}
              </ul> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>


{% endblock %}